<mat-toolbar color = 'primary' style="padding-right: 20px">
	<button mat-icon-button (click)="showFiller = !showFiller"><mat-icon>menu</mat-icon></button>
	<h1 class="header-font">Frinine</h1>
	<button mat-mini-fab color="primary" aria-label="Info Perso" [matMenuTriggerFor]="PersoInfo" >
		<mat-icon>account_circle</mat-icon>
	</button>
</mat-toolbar>

<mat-menu #PersoInfo="matMenu" xPosition="before">
	<mat-list>
		<mat-list-item>
			<mat-icon mat-list-icon>perm_identity</mat-icon>
			Personal Information
		</mat-list-item>
		<mat-selection-list [multiple]="false">
			<mat-divider></mat-divider>
			<mat-list-option (click)="toUser()">
				<mat-icon mat-list-icon>settings</mat-icon>
				User Management
			</mat-list-option>
			<mat-list-option (click)="logout()" >
				<mat-icon mat-list-icon>logout</mat-icon>
				Log out
			</mat-list-option>
		</mat-selection-list>
	</mat-list>
</mat-menu>

<mat-drawer-container style="background: white" autosize>
	<mat-drawer #drawer class="example-sidenav" mode="side" style = 'position: fixed; top: 4rem' opened >
		<mat-nav-list>
			<mat-list-item (click)="toDashboard()" >
				<span class="sidenavItem" *ngIf="showFiller" >Dashboard</span>
				<mat-icon mat-list-icon>dashboard</mat-icon>
			</mat-list-item>
			<mat-list-item (click)="toSell(); showSubmenu = !showSubmenu" >
				<span class="sidenavItem" *ngIf="showFiller" >Sells</span>
				<mat-icon mat-list-icon>confirmation_number</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="showFiller">
				<mat-list-item>
					<span class="sidenavItem" *ngIf="showFiller" >Facebook</span>
					<mat-icon mat-list-icon>Sell 1</mat-icon>
				</mat-list-item>
				<mat-list-item>
					<span class="sidenavItem" *ngIf="showFiller" >Web</span>
					<mat-icon mat-list-icon>Sell 2</mat-icon>
				</mat-list-item>
			</div>

			<mat-list-item>
				<span class="sidenavItem" *ngIf="showFiller">CRM</span>
				<mat-icon mat-list-icon>supervisor_account</mat-icon>
			</mat-list-item>
			<mat-list-item>
				<span class="sidenavItem" *ngIf="showFiller" >Calendar</span>
				<mat-icon mat-list-icon>event_note</mat-icon>
			</mat-list-item>
			<mat-list-item (click)="showSubmenu = !showSubmenu" >
				<span class="sidenavItem" *ngIf="showFiller" style="width: 9rem; display: flex; align-items: center">
					Interaction
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="showFiller" style="position: absolute; right: 10px">expand_more</mat-icon>
				</span>
				<mat-icon mat-list-icon>dynamic_feed</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="showFiller">
				<mat-list-item>
					<span class="sidenavItem" *ngIf="showFiller" >Facebook</span>
					<mat-icon mat-list-icon>facebook</mat-icon>
				</mat-list-item>
				<mat-list-item>
					<span class="sidenavItem" *ngIf="showFiller" >Web</span>
					<mat-icon mat-list-icon>web</mat-icon>
				</mat-list-item>
			</div>

			<mat-list-item (click)="toDiscover()">
				<span class="sidenavItem" *ngIf="showFiller" >Discover</span>
				<mat-icon mat-list-icon>explore</mat-icon>
			</mat-list-item>
		</mat-nav-list>
	</mat-drawer>

	<section style="height: 4rem"></section>

	<br>

	<div class="example-sidenav-content">
		<div style="margin: 1rem">
			<router-outlet style="z-index: 0 "></router-outlet>
		</div>
	</div>
</mat-drawer-container>
