<p>event works!</p>
<mat-card class='pi-card'>
	<div> <h1 class='header'> Events Informations </h1> </div>

	<div class="container">
		<div class="row">
			<div class="col">
				Column 1
				<mat-list>
					<mat-list-item>
						<mat-icon mat-list-icon>local_activity</mat-icon>
						<div mat-line>Event's Name</div>
						<div mat-line>{{event.name}}</div>
					</mat-list-item>
					<mat-list-item>
						<mat-icon mat-list-icon>schedule</mat-icon>
						<div mat-line> Schedule </div>
						<div mat-line>{{time*1000|date}}</div>
					</mat-list-item>
					<mat-list-item>
						<mat-icon mat-list-icon>room</mat-icon>
						<div mat-line> Location </div>
						<div mat-line >{{event.location}}</div>
					</mat-list-item>
					<mat-list-item>
						<mat-icon mat-list-icon>link</mat-icon>
						<div mat-line> Meeting's Link </div>
						<div mat-line>{{event.link}}</div>
					</mat-list-item>
				</mat-list>
			</div>

			<div class="col">
				Column 2
				<mat-list>
					<mat-list-item>
						<mat-icon mat-list-icon>event_seat</mat-icon>
						<div mat-line> # Total Seats</div>
						<div mat-line>{{event.capacity}}</div>
					</mat-list-item>
					<mat-list-item>
						<mat-icon mat-list-icon>chair</mat-icon>
						<div mat-line> # Seats For Guests </div>
						<div mat-line>{{event.invPlaces}}</div>
					</mat-list-item>
					<mat-list-item>
						<mat-icon mat-list-icon>chair_alt</mat-icon>
						<div mat-line> # Seats Available</div>
						<div mat-line>{{event.capacity - event.invPlaces - event.soldPlaces}}</div>
					</mat-list-item>
					<mat-list-item>
						<mat-icon mat-list-icon>contacts</mat-icon>
						<div mat-line> Organiser's Contact</div>
						<div mat-line>{{organiserMail}}</div>
					</mat-list-item>
				</mat-list>
			</div>
		</div>
	</div>


</mat-card>
<button mat-raised-button color="primary" style="transform: scale(1.3); position: fixed; bottom: 50px; font-weight: bold; left: 50%;
      translate(-50%, -50%);" *ngIf="isAuthor==1" >Modify
</button>