<h1>Event's Info</h1>
<p>{{event|json}}</p>
<h1>CLICK TO BUY TICKET</h1>
<div class="container-fluid">
	<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
		<div *ngFor="let t of tickets; let i = index" class="col p-2 box">
			<mat-card>
				<mat-list>
					<div> <h1 class='header'> {{t.name}}</h1></div>
					<mat-list-item>
						<mat-icon mat-list-icon>room</mat-icon>
						<div mat-line> Location </div>
						<div mat-line >{{t.price}}</div>
					</mat-list-item>
					<mat-list-item>
						<mat-icon mat-list-icon>description</mat-icon>
						<div mat-line> Description </div>
						<div mat-line >{{t.description}}</div>
					</mat-list-item>
				</mat-list>
			</mat-card>
		</div>
	</div>
</div>

