.date-tile{
	opacity: 1;
	transition: all ease 0.8s;
	border: 1px solid lightgray;
}
.date-tile:hover{
	border-radius: 10px;
	background: lightgrey;
	transform: scale(1.1);
	z-index: 2;
}
.selectedEvent{
	background: lightgreen;
	border: 2px solid darkgreen;
	z-index: 1;
}
.date-tile.selectedEvent:hover{
	border-radius: 10px;
	background: lightgreen;
	transform: scale(1.1);
	z-index: 2;
}