.ticket-card{
	transition: all ease 0.8s;
	opacity: 1;
	height: 200px;
}
.date-tile{
	transition: all ease 0.8s;
}
.ticket-card:hover{
	background: #ECECEC;
	transform: scale(1.03);
}
mat-card{
	border: 1px darkgray solid;
}
