<mat-tab-group dynamicHeight mat-align-tabs="center">
	<mat-tab label="Infos">
		<app-event-info [event]="event"></app-event-info>
	</mat-tab>

	<mat-tab label="Stats">
		<div class="shadow p-3 mb-5 bg-white rounded" style="margin-top: 15px">
			Stats baby!
		</div>
	</mat-tab>

	<mat-tab label="Tickets">
		<app-ticket-management [ticketType]="event.ticketType" [tickets]="event.tickets"></app-ticket-management>
	</mat-tab>

	<mat-tab label="Calendar">
		<app-calendar [event]="event"></app-calendar>
	</mat-tab>
</mat-tab-group>