<p>user works!</p>
<mat-card class='pi-card'>
	<mat-list>
		<div> <h1 class='header'> Personal Informations </h1> </div>
		<mat-list-item>
			<mat-icon mat-list-icon>perm_identity</mat-icon>
			<div mat-line>Name</div>
			<div mat-line>{{user.name}}</div>
		</mat-list-item>
		<mat-list-item>
			<mat-icon mat-list-icon>email</mat-icon>
			<div mat-line>Gmail</div>
			<div mat-line>{{user.gmail}}</div>
		</mat-list-item>
		<mat-list-item>
			<mat-icon mat-list-icon>password</mat-icon>
			<div mat-line> Password </div>
			<div mat-line >{{user.password}}</div>
		</mat-list-item>
	</mat-list>
</mat-card>
