.stepHeader{
	font-weight: bold;
	color:#3f51b5;
	text-align: center;
}
mat-radio-button {
	margin: 0 15px 0 0;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: relative;
	z-index: -1;
}

.inputfile + label {
	font-size: 1.25em;
	font-weight: 700;
	color: white;
	background-color: #3f51b5;
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	transform: scale(0.8);
}
mat-form-field{
	width: 14rem;
}