<mat-card>
	<mat-card-title style="color: #cd5b45"> Resgistration </mat-card-title>
	<mat-card-content>
		<form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="signUpForm" (ngSubmit)="signUp()">
			<mat-form-field class="full-width">
				<input matInput placeholder="Username" name="username" formControlName="username" required>
			</mat-form-field>
			<br>
			<mat-form-field class="full-width">
				<input matInput placeholder="Password" type="password" name="password"
				       formControlName="password" required>
			</mat-form-field>
			<br>
			<button mat-raised-button color="warn" type="submit" [disabled]="signUpForm.invalid">
				Sign up
			</button>
		</form>
	</mat-card-content>
</mat-card>
<div class="bot" (click)="click()">
	Sign in
</div>
