<mat-card>
	<mat-card-title style="color: #cd5b45; text-align: center"> Resgistration </mat-card-title>
	<mat-card-content>
		<form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="signUpForm" (ngSubmit)="signUp()">

			<div class="row">
				<div class="column">
					<h2 style="color: #cd5b45">Personal Informations</h2>

					<mat-form-field color="warn" class="full-width">
						<input matInput placeholder="Nom" name="nom" formControlName="nom" required>
					</mat-form-field>
					<br>

					<mat-form-field color="warn" class="full-width">
						<input matInput placeholder="Prénom" name="prenom" formControlName="prenom" required>
					</mat-form-field>
					<br>

					<mat-form-field color="warn" class="full-width">
						<input matInput type="email" placeholder="Mail" name="mail" formControlName="mail" required>
					</mat-form-field>
					<br>

					<mat-form-field>
						<input matInput [matDatepicker]="picker" placeholder="Date of birth" name="birthday" formControlName="date-of-birth">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
					<br>

					<div style="color: #555251">
						<mat-label>Gender :</mat-label>
						<br>
						<mat-radio-group color="warn" aria-label="Select your gender" formControlName="gender" required>
							<mat-radio-button value="Male" >Male</mat-radio-button>
							<mat-radio-button value="Female">Female</mat-radio-button>
						</mat-radio-group>
					</div>
					<br>

				</div>
				<div class="column" style="border-left: 1px solid gray">
					<h2 style="color: #cd5b45">Login Informations</h2>

					<mat-form-field color="warn" class="full-width">
						<input matInput placeholder="Username" name="username" formControlName="username" required>
					</mat-form-field>
					<br>

					<mat-form-field color="warn" class="full-width">
						<input matInput placeholder="Password" type="password" name="password"
						       formControlName="password" required>
					</mat-form-field>
					<br>

				</div>
			</div>

			<button mat-raised-button color="warn" type="submit" [disabled]="signUpForm.invalid">
				Sign up
			</button>
		</form>
	</mat-card-content>
</mat-card>
<div class="bot" (click)="click()">
	Sign in
</div>

<br>
<!--{{signUpForm.value | json}}-->