<p>
	<mat-toolbar class = 'blue' [ngClass]="{'coral':isFlipped}" ><mat-toolbar-row>
		<mat-icon>whatshot</mat-icon>
		<span> Frinine</span>
		<span class="example-spacer"></span>
	</mat-toolbar-row>
	</mat-toolbar>
</p>
<div class="container">
	<div class = 'card' [ngClass]="{'flipped': isFlipped }" >
		<app-login class = 'card front' [isFlipped]="isFlipped" (signInEvent)="isFlipped=$event"></app-login>
		<app-register class = 'card back' [isFlipped]="isFlipped" (signUpEvent)="isFlipped=$event"></app-register>
	</div>
</div>
<button (click)="flip()" style ='display: none'>Flip card</button>