.box {
	width: 500px;
	height: 600px;
	position: relative;
	left: 50%;
	top: 10rem;
	transform: translateX(-50%);
}
.frame {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: all 1s ease;
}
.frame .front {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: white;
}
.frame .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}
.frame.flipped {
	transform: rotateY( 180deg );
}
.blue {
	background: #1565C0;
	color: white;
	-webkit-transition: background-color 0.5s ease-in-out;
}
.coral {
	background: #cd5b45;
	color: white;
}
